body {
  box-sizing: border-box;
  height: 100dvh;
  max-width: 100vw;
  margin: 0px;
  padding: 10px;
  display: grid;
  grid-template-columns: 3fr minmax(300px, 1fr);
  grid-template-rows: 50px 1fr;
  gap: 10px;
  background-color: aliceblue;
}

.menuBar {
  grid-column: span 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.variableButton {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: lavender;
  cursor: pointer;
}

.variableButton:hover {
  background-color: plum;
}

.pane {
  padding: 10px;
  border-radius: 10px;
}

.blockEditor {
  background-color: white;
}

pre,
code,
.outputDiv {
  overflow: auto;
  background-color: ghostwhite;
}
